<ng-container *ngIf="contents?.length">
  <ng-container [ngTemplateOutlet]="templateRef"> </ng-container>
  <!-- medium -->
  <!-- <ng-container
    *ngIf="data.type === mediaType.medium"
    [ngTemplateOutlet]="mediumTemplate"
    [ngTemplateOutletContext]="{ contents: data.contents }"
  >
  </ng-container> -->

  <!-- <ng-container *ngIf="data.type === mediaType.linkedIn">
    <ng-container
      *ngTemplateOutlet="linkedInPlatform; context: { contents: data.contents }"
    >
    </ng-container>
  </ng-container>
 
  <ng-container
    *ngIf="data.type === mediaType.scoop"
    [ngTemplateOutlet]="scoopPlatform"
    [ngTemplateOutletContext]="{ contents: data.contents }"
  >
  </ng-container> -->
</ng-container>

<!-- <ng-tempalte #mediumTemplate let-contents="contents"> hi1</ng-tempalte> -->
